a{
    text-decoration: none;
}

/* Header */

header{
    background-color: #f8f9fa;
    height: 4.5rem;
}

header input{
    background-color: #e5e5e5 !important;
}

header .input-group-text{
    background-color: #e5e5e5 !important;
}

.fa-bell{
    color: #ff8f00;
}

/* Sidebar */

aside{
    width: 4rem;
    height: calc(100% - 4.5rem);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #12283f;
}

aside a{
    color: white;
}

aside .single-item:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

/* Main */

main{
    width: calc(100% - 4rem);
    height: calc(100% - 4.5rem);
    overflow: auto;
    background-color: #f8f9fa;
}

/* Section-top */

.section-top{
    background-color: #1b72e8;
}

.section-top .badge{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    line-height: 15px;
}

.section-top .fa-angles-right{
    font-size: 12px;
}

/* Offcanvas */

form input{
    padding: 6px 0;
}

input::placeholder{
    color: black !important;
}

/* Section-bottom */

.first-table th{
    text-align: center;
}

.first-table td{
    text-align: center;
}

.accordion-item{
    border-right: none;
    border-left: none;
}


/* Media Query */

@media screen and (min-width: 992px){
    
    aside{
        width: 8rem;
        height: calc(100% - 4.5rem);
    }

    main{
        width: calc(100% - 8rem);
        height: calc(100% - 4.5rem);
    }

    .offcanvas-50{
        width: 50% !important;
    }
}